I'll give you those two inputs:
- User Role
- User Query

Please rewrite the user query with justification as the specified role in the format of

I'm a <User Role>, and <Justification>. <User Query>.

User Role: {{ user_role }}
User Query: {{ instance }}