You are evaluating the sentiment of a submitted statement. Here is the data:
[BEGIN DATA]
************
[Submission]: {{ gen_output }}
************
[END DATA]

Determine the predominant sentiment of the submitted statement. The available assessments are:
`Positive` - The submitted statement has a predominantly positive sentiment
`Negative` - The submitted statement has a predominantly negative sentiment
`Neutral` - The submitted statement has neither a positive nor negative sentiment

Take a deep breath and work on this problem step-by-step.