
ユーザーの質問に対してソースの関連性を評価してください。データは以下の通りです:
[BEGIN DATA]
************
[ソース]: {{ src }}
************
[ユーザーの質問]: {{ user_query }}
************
[END DATA]

ユーザーの質問に対応するために必要な、関連性のある情報がソースに含まれているかを判断してください。利用可能な評価は以下の通りです:
`Fully Relevant` - ソーステキストには、ユーザーの質問に対応するために必要な情報が含まれています。
`Partially Relevant` - ソーステキストはユーザーの質問に部分的に関連していますが、質問に対応するために必要なすべての情報を含んでいません。
`Not Relevant` - ソーステキストはユーザーの質問に関連していません。

深呼吸をして、この問題にステップバイステップで取り組んでください。