以下の2つのテキストの間の論理的な関係を評価してください。データは以下の通りです:
[BEGIN DATA]
************
[ソース]: {{ src }}
************
[生成文]: {{ gen_output }}
************
[END DATA]
「生成文」は「ソース」に基づいて生成された文章です。生成文の記述が全てソースに基づいたものになっているかどうかを判断してください。
利用可能な評価は以下の通りです:
`Not Consistent` - 「生成文」は「ソース」と両立することのすることのできない、矛盾する部分を含んでいます。
`Partially Consistent` - 2つの文章の間に矛盾はありませんが、「生成文」が「ソース」の内容のみからは論理的に導けない内容を含んでいます。
`Fully Consistent` - 2つの文章の間に矛盾はなく、「生成文」の中の全ての記述が「ソース」の一部に基づいています。

なお、「生成文」は「ソース」の内容を全て含んでいる必要はありません。「生成文」の文章が全て「ソース」の一部に基づいている場合、常に「Fully Consistent」と出力してください。
逆に、「生成文」の記述が「ソース」に含まれていない場合、「Partially Consistent」または「Not Consistent」と判断する必要があることに注意してください。

深呼吸をして、この問題にステップバイステップで取り組んでください。