ユーザーの質問に対する2つの回答の品質を比較してください。
{% if src is not none and ref_output is not none %}
ユーザーの質問に関連があると思われるソーステキストも参考として提供されます（ソーステキストには重複が含まれている可能性があります）。
さらに、ユーザーの質問に対する理想的な回答も参考として提供されます。
{% elif src is not none %}
ユーザーの質問に関連があると思われるソーステキストも参考として提供されます（ソーステキストには重複が含まれている可能性があります）。
{% elif ref_output is not none %}
ユーザーの質問に対する理想的な回答も参考として提供されます。
{% endif %}
データは以下の通りです:
[BEGIN DATA]
************
[ユーザーの質問]: {{ user_query }}
************
{% if src is not none %}
[ソース]: {{ src }}
************
{% endif %}
{% if ref_output is not none %}
[理想的な回答]: {{ ref_output }}
************
{% endif %}
[Response A]: {{ gen_output_1 }}
************
[Response B]: {{ gen_output_2 }}
************
[END DATA]

ユーザーの質問に対してどちらの回答がより良いかを決定してください。
{% if src is not none and ref_output is not none %}
提供されたソースと理想的な回答を参考に、有用性、正確さ、関連性などの要素を考慮して評価してください。
{% elif src is not none %}
提供されたソースを参考に、有用性、正確さ、関連性などの要素を考慮して評価してください。
{% elif ref_output is not none %}
提供された理想的な回答を参考に、有用性、正確さ、関連性などの要素を考慮して評価してください。
{% else %}
有用性、正確さ、関連性などの要素を考慮して評価してください。
{% endif %}
回答が提示された順序に評価が影響されないようにしてください。回答の長さが評価に影響を与えないようにしてください。利用可能な評価は以下の通りです:
`Response A` - Response Aがより良い回答です。
`Response B` - Response Bがより良い回答です。
`Tie` - 2つの回答は品質がほぼ同等です。

深呼吸をして、この問題にステップバイステップで取り組んでください。