
Sie bewerten die Relevanz der Quelle für eine Benutzeranfrage. Hier sind die Daten:
[BEGINN DATEN]
************
[Quelle]: {{ src }}
************
[Benutzeranfrage]: {{ user_query }}
************
[ENDE DATEN]

Bestimmen Sie, ob die Quelle die relevanten und notwendigen Informationen enthält, um auf die Anfrage des Benutzers zu antworten.
Die verfügbaren Bewertungen sind:
`Fully Relevant` - Der Quelltext enthält die Informationen, die notwendig sind, um auf die Anfrage des Benutzers zu antworten.
`Partially Relevant` - Der Quelltext ist teilweise relevant für die Anfrage des Benutzers, enthält aber nicht alle Informationen,
die notwendig sind, um auf die Anfrage des Benutzers zu antworten.
`Not Relevant` - Der Quelltext ist nicht relevant für die Anfrage des Benutzers.

Atmen Sie tief durch und arbeiten Sie Schritt für Schritt an diesem Problem.